<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'notepad/css/base.css'%}">
    <link rel="stylesheet" href="{% static 'notepad/css/forms.css'%}">
    {% block title %}
    <title>Home Page</title>
    {% endblock title %}
</head>
<body>
<div class="wrapper">

    <div class="body-navbar">
        {% include "notepad/navbar.html" %}
    </div>

    <div class="body-content">
        {% block body %}
            {% include "notepad/homepage.html" %}
        {% endblock body %}
    </div>

</div>

    <div class="body-footer">
        {% include "notepad/footer.html" %}
    </div>

</body>
</html>