{% load static %}

<link rel="stylesheet" href="{% static 'notepad/css/footer.css'%}">

<footer class="footer-container">

    <div class="footer-content">
        <div class="footer-text">
            Данный сайт создан в ознакомительных целях, пожалуйста не
            сохраняйте здесь что-либо действительно важное для Вас.
            <br>
            <a href="https://github.com/RomanRVP/notepad_django">
                Исходники (GitHub).
            </a>
            <br><br>
            Нашли баг? Есть деловое предложение? Хотите пожаловаться?
            Обращайтесь на почту - rybakroman95@gmail.com
        </div>
    </div>

</footer>
