{% load static %}

<link rel="stylesheet" href="{% static 'notepad/css/homepage.css'%}">

<div class="homepage-wrapper">

    <div class="sidebar">
        <div class="sidebar-list">
            <div class="sidebar-buttons-menu">
                <a href="{% url 'add_category' %}" class="sidebar-buttons-menu-btn">
                    <h5>Добавить категорию</h5>
                </a>
                <a href="{% url 'del_category' %}" class="sidebar-buttons-menu-btn">
                    <h5>Удалить категорию</h5>
                </a>
                <a href="{% url 'add_notepad' %}" class="sidebar-buttons-menu-btn">
                    <h5>Создать блокнот</h5>
                </a>
                <a href="{% url 'del_notepad' %}" class="sidebar-buttons-menu-btn">
                    <h5>Удалить блокнот</h5>
                </a>
            </div>
            <h4>Ваши категории:</h4>
            <br>
            {% for category in categories_list %}
            <a href="/">
                <p class="category-link">
                    {{ category.name }}
                </p>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="homepage-content">
        <div class="notepads-list">
            {% for notepad in notepads_list%}
            <a href="#">
                <div class="notepad">
                    {{ notepad.title }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>
