{% load static %}

<link rel="stylesheet" href="{% static 'notepad/css/homepage.css'%}">

<div class="homepage-wrapper">

    <div class="sidebar">
        <div class="sidebar-list">
            <div class="sidebar-buttons-menu">
                <a href="{% url 'add_category' %}" class="sidebar-buttons-menu-btn">
                    <div class="style-for-sidebar-button">
                        Добавить категорию
                    </div>
                </a>
                <a href="{% url 'del_category' %}" class="sidebar-buttons-menu-btn">
                    <div class="style-for-sidebar-button">
                        Удалить категорию
                    </div>
                </a>
                <a href="{% url 'add_notepad' %}" class="sidebar-buttons-menu-btn">
                    <div class="style-for-sidebar-button">Создать блокнот</div>
                </a>
                <a href="{% url 'del_notepad' %}" class="sidebar-buttons-menu-btn">
                    <div class="style-for-sidebar-button">Удалить блокнот</div>
                </a>
            </div>
            <h4>Ваши категории:</h4>
            <br>
            {% for category in categories_list %}
            <a href="{{ category.get_absolute_url }}">
                <div class="style-for-sidebar-button">
                    {{ category.name }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="homepage-content">
        <div class="notepads-list">
            {% for notepad in notepads_list%}
            <a href="{{ notepad.get_absolute_url }}">
                <div class="notepad">
                    {{ notepad.title }}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>
