.homepage-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.sidebar {
    width: 20%;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.sidebar-list {
    max-width: 100%;
}

.sidebar-buttons-menu {
    margin: 2px;
    width: 100%;
}

.sidebar-buttons-menu-btn {
    margin: 1px;
}

.category-link {
    margin: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.homepage-content {
    width: 75%;
    overflow: auto;
}

.notepads-list {
    height: 100%;
    width: 100%;
}

.notepad {
    width: 100%;
    height: 45px;
    border: black solid 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-bottom: 3px;
}
